img {
  max-width: 100%
}

.index-container-background {
  background-image: url("../img/index-page-dog-2.jpg");
  background-size: cover;
  height: 690px;}

  .jumbotron-text {
    text-align: right;
  }

.push-down-container {
    margin-top: 50px;
}

.profile-push-down-container {
    margin-top: 100px;
}

.under-h2-margin {
    margin-top: 40px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.hero-unit {
  /*background-image:url('./../img/index-page-dog.gif');*/
  background-color: green;
  background-size:cover;
  height:300px;
  opacity: .5;
}

.hero-unit-host {
  background-image:url('../img/dog-owners.jpg');
  background-size:cover;
  height:300px;
  opacity: .5;
}

#home-page .search-box {
 width: 75%;
}


h1 {
  position: relative;
  top: -350px;
  left: 40px;
  color:#fff;
}

.stars-rating {
    font-size: 2em;
    margin-top: 10px;
    padding-left: 0.5em;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}