html {
  background-color: black;
}

body {
  background-color: yellow;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

h1, h2, h3, h4, p {
  padding: 1em;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

img {
  padding: 0;
  margin: 0;
  border: 0;
}

form {

}

li.button {
  list-style: none;
  display: inline-block;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.5s linear;
}


li.button:hover {
  background-color: green;
}

.col-sm-8, .col-sm-4 {
  padding-right: 0px;
  padding-left: 0px;
}

#navigation {
  background-color: red;
  width: 100%;
  padding: 2em;
/*  padding-left: 1em;*/
  position: relative;
}

#footer {
  background-color: green;
  color: black;
  text-align: center;
}


/*---
Specific elements on index page
---*/
#navigation-form {
  position: absolute;
  top: 5px;
  right: 20px;
}

#search-box {
  background-color: pink;
  height: 200px;
  position: relative;
}

input.large-input, .search-button {
    height: 60px;
    border-radius: 10px;
    border: solid 1px lightblue;
    margin: 1em;
    padding: 1em;  
}

.search-button {
  width: 60px;
  border-radius: 50%;
  background-color: red;
  transition: all 0.5s linear;
}

.flip-180:hover {
  background-color: green;
  transform: rotate(0.5turn);
}



#location-search{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50px;
  transform: translate(-50%, -50%)

}

#map-canvas {
  height: 660px; 
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  /*float: right; */
  overflow: hidden;
}