<div class="final-confirmation-container-background" id="confirmation-page">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nvabar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/">HOTDOG</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <a href="/new" class="btn btn-warning" role="button">BECOME A HOST</a>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav> <!-- the end of navigation -->


  <div class="container front-page">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="front-page-title final-confirm-h2">HAPPY HOTDOGGING</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-6">
            <div class="thumbnail">
            <div class="thumb-content">
                <h2 style="color: orange;">AMAR</h2>
              </div>
              <img id="profile_picture" class="img-circle" src="http://www.gravatar.com/avatar/4b87edb9d3f0398bbb394bc9b5647782?s=250">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="thumbnail">
              <div class="thumb-content">
                <h2 style="color: orange;">RUBY</h2>
              </div>
              <img id="profile_picture" class="img-circle" src="http://www.gravatar.com/avatar/<%= Dog.where(name: 'Rowan').first.email_hash%>?s=250">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
