 <div class="container front-page">
    <div class="row">
      <div class="col-sm-12">
        <h2>YOUR MESSAGE HAS BEEN SENT!</h2>
        <h3>Review other listings:</h3>
        <a href="/hosts"><h3>You have accepted! Review other listings:</h3></a>



      </div>
    </div>
  </div>

</div>