<div class="final-confirmation-container-background" id="confirmation-page">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nvabar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/">HOTDOG</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <a href="/new" class="btn btn-warning" role="button">BECOME A HOST</a>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav> <!-- the end of navigation -->
  <div class="container front-page">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="success">HAPPY HOTDOGGING</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
      <div class="thumbnail">
        <div class="thumb-content text-center">
        <h2 style="color: orange;">AISTE</h2>
        </div>
      <img id="profile_picture" src="http://www.gravatar.com/avatar/b967a70b838e7b2deac4e3dc4cf53a93?s=250">
        </div>
      </div>
      <div class="col-sm-6">
       <div class="thumbnail">
        <div class="thumb-content text-center">
        <h2 style="color: orange;">RUBY</h2>
        </div>
      <img id="profile_picture" src="http://www.gravatar.com/avatar/804ce80a4971ae1f68af6918da0c6689?s=250">
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
