<h1>Host Listing</h1>
<% @hosts.each do |host| %>
  <div>
    <h3>
    <a href="/hosts/<%= host.id %>"><%= host.name %></a><small> - <%= host.address %> - <%= host.phone_number %></small>
  </div>
<% end %>


<div class=" " id="host-list-page">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nvabar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="#">HOTDOG</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <button type="submit" class="btn btn-success">Sign up</button>
          <button type="submit" class="btn btn-primary">Log in</button>
          <button type="submit" class="btn btn-warning">BECOME A HOST</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="container profile-push-down-container">
    <div class="row">
      <div class="col-md-8">
        <h2>HOTDOG HOSTLIST</h2>
        <div id="breadcrumbs" class="">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Hostlist</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-md-5 col-lg-5">
      <!-- artigo em destaque -->
      <div class="featured-article">
        <a href="#">
          <img src="http://placehold.it/482x350" alt="" class="thumb">
        </a>
        <div class="block-title">
          <h2>Lorem ipsum dolor asit amet</h2>
          <p class="by-author"><small>By Jhon Doe</small></p>
        </div>
      </div>
      <!-- /.featured-article -->
    </div>
    <div class="col-md-7 col-lg-7">
      <ul class="media-list main-list">
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/150x90" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
            <p class="by-author">By Jhon Doe</p>
          </div>
        </li>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/150x90" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
            <p class="by-author">By Jhon Doe</p>
          </div>
        </li>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/150x90" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
            <p class="by-author">By Jhon Doe</p>
          </div>
        </li>
      </ul>