<div id="page-container">
  
  <div id="wrapper-left">
    <!-- <h1> wrapper left</h1> -->
    
    <div id="navigation">
      <dl id="nav">
        <dt><a href="#" type="submit" class="button" role="button">Sign up</a></dt>
        <dt><a href="#" type="submit" class="button" role="button">Log in</a></dt>
        <dt><a href="./new" class="button" role="button">Become a host</a></dt>
      </dl>
    </div> <!-- end navigation -->


    <div id="page-content">
   <!--    <div class="center-v-h"> -->
          <h1>Come sniffing.</h1>   
        <form id="location-search" method="get" action="/">
          <input type="text" class="large-input" name="city" placeholder="e.g. Vancouver">
          <button class="search-button flip-180" type="submit">Search...</button>
        </form>
<!--       </div> -->
    </div> <!-- end page content -->

    <div id="footer">
    <small>inspired by Rowan.</small>
    </div><!-- end footer -->

  </div>

  <div id="wrapper-right">
    <img src="http://cdn.sheknows.com/articles/2013/04/Photo_1.jpg" id="bg" alt="">
    <h1>wrapper right</h1>
    <p>Having no layout whatsover is almost ok if all you want is one big column of content. However, if a user makes the browser window really wide, it gets kind of annoying to read: after each line your eyes have a long distance to travel right-to-left to the next line. Try resizing your browser to see what I mean!</p>
  </div>

</div> <!-- page container end -->
























<!-- GOOD VERSION START -->





<!-- <div id="container"> -->
  <!-- <div class="row">
  <div class="col-sm-8 col-l"> -->
       <!-- <div id="header">
         <ul id="nav">
            <li type="submit" class="button" role="button">Sign up</li>
            <li type="submit" class="button" role="button">Log in</li>
            <li><a href="./new" class="button" role="button">BECOME A HOST</a></li>
          </ul>
       </div>
       <div id="body">
        <div class="center-content">
          <h2>Come sniffing.</h2>
          <div id="search-box">
            <form id="location-search" method="get" action="/">
              <input type="text" class="large-input" name="city" placeholder="e.g. Vancouver">
              <button class="search-button flip-180" type="submit">Search...</button>
            </form>
          </div>
          <div id="instagram-images" class="my-new-list">
          </div>
        </div>



      </div> -->
      <!-- </div> -->
      <!-- <div class="col-sm-4 col-r"> -->
        <!--  <div id="map-canvas" class="placeholder-image">HELLO
      </div> -->
      <!-- </div> -->
       <!-- <div id="footer">inspired by rowan.
     </div> -->
     <!-- </div> -->
     <!-- </div> -->




     <!--  GOOOD VERSION END -->


<!-- <div id="page-index">
  <div class="row">

    <div id="l-col-index-page" class="col-sm-8">
      <div id="navigation">
        <ul id="navigation-form">
          <li type="submit" class="button" role="button">Sign up</li>
          <li type="submit" class="button" role="button">Log in</li>
          <a href="./new" class="button" role="button">BECOME A HOST</a>
        </ul>
      </div>
      <h1 class="txt-center">Home away from home for your dog.</h1>
      <div id="search-box">
        <form id="location-search" method="get" action="/">
          <input type="text" class="large-input" name="city" placeholder="e.g. Vancouver">
          <button class="search-button flip-180" type="submit">Search...</button>
        </form>
      </div>
      <div placeholder="somethign"></div>
     <div id="instagram-box">
        <div id="instagram-images" class="my-new-list">
        </div>
      </div>
      <div id="footer">
        <small>Design by Aiste | 2015.</small>
      </div>
    </div>

    <div class="col-sm-4">
      <div id="map-canvas" class="map">
      </div>
    </div>

  </div>
</div>
-->



<!-- <div class="index-container-background" id="home-page">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/">HOTDOG</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <button type="submit" class="btn btn-success">Sign up</button>
          <button type="submit" class="btn btn-primary">Log in</button>
          <a href="/new" class="btn btn-warning" role="button">BECOME A HOST</a>
        </form>
      </div>
    </div>
  </nav>

  <div class="container front-page">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="front-page-title">HOTDOG</h2>
        <h4 class="front-page-description">A website to unite dog owners and dog lovers. Looking for a place to drop off your dog? Just enter your city below to see potential hosts nearby!</h4>
      </div>
    </div>

    <div class="container front-page">
      <div class="row front-page-search-row">
        <div class="col-sm-8">
          <div class="input-group" class="wrapper">
            <form method="get" action="/" class="row">
              <input type="text" class="search-box form-control input-lg" name="city" placeholder="e.g. Vancouver">
              <button class="btn btn-default input-lg" type="submit">Go!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


 -->