<div class="index-container-background" id="home-page">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/">HOTDOG</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <button type="submit" class="btn btn-success">Sign up</button>
          <button type="submit" class="btn btn-primary">Log in</button>
          <button type="submit" class="btn btn-warning">BECOME A HOST</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="container push-down-container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>ABOUT HOTDOG</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
    <div class="row">
     <div class="col-lg-6 col-md-6">
       <div class="input-group" class="wrapper">
         <form method="get" action="/" class="row">
           <input type="text" class="search-box form-control input-lg" name="city" placeholder="e.g. Vancouver">
           <button class="btn btn-default input-lg" type="submit">Go!</button>
         </form>
       </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->
   </div><!-- /.row -->
  </div> <!-- /container -->
</div>