<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Hotdog | AirBnB for Dogs.</title>

    <!-- Stylesheet collection -->

    <link rel="stylesheet" href="/css/vendor/normalize.css">
    <link rel="stylesheet" href="/css/vendor/grid12.css">

    <link rel="stylesheet" href="/css/project/application.css">
    <link rel="stylesheet" href="/css/project/page.css">

    <!-- Font collection -->
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>




    <!-- Javascript, jQuery, etc. -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </head>
  
  <!-- Body architecture -->
  <body>

    <%= yield %>



   <!-- Javascript files, CDN, APIs -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script src="/js/project/main.js"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  </body>
</html>