<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HOTDOG | AirBnB for dogs</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="#">HOTDOG</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <button type="submit" class="btn btn-primary">Log out</button>
          <!-- <button type="submit" class="btn btn-primary">Log in</button> -->
          <h4 class="navbar-text">Logged in as <em>Doughnut</em></h4> 
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="hero-unit">
  </div>

  <div class="container push-down-container">

    <div class="row">
      <div class="col-md-4">
        <h2>PROFILE</h2>
        <div class=""><a href="#" class="pull-left"><img title="profile image" class="img-thumbnail img-responsive " src="rowan.jpg"></a>
        </div>
        <div class="rating text-center"><h2>
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></h2>
          </div>
        <div class="">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
      </div>
      <div class="col-md-4">
        <h2>PROFILE DESCRIPTION</h2>
        <div class="">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
      </div>

      <div class="col-md-4">

        <h2>CONTACT </h2>
        <ul class="list-unstyled">
          <li><h4><span class="glyphicon glyphicon-envelope"><h1><%= @dog.name %> </h1><p class="pull-right">email: dog@hotdog.com</p></span></h4></li>   
          <li><h4><span class="glyphicon glyphicon-phone-alt"><p class="pull-right">604-*** ****</p></span></h4></li>        
        </ul>
        <p class="text-center">
          <button type="button" class="btn btn-success btn-lg">ACCEPT</button>
          <button type="button" class="btn btn-danger btn-lg">REJECT</button>
        </p>
        
      </div>
    </div>


    <hr/>


        <div class="row">
          <div class="col-md-8 col-md-offset-4"><h2>REVIEWS</h2></div>
        </div>

        <div class="row">
          <div class="col-md-4">        
              <a href="#" class="pull-right">
                <img title="profile image" class="img-circle img-responsive" src="img/funny-dog-2.gif" width="140" height="140">
              </a>
          </div>
          <div class="col-md-6 pull-left">
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <h2><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></h2>
          </div>
        
        </div>  
        <hr/>
                <div class="row">
          <div class="col-md-8 col-md-offset-4"><h2>REVIEWS</h2></div>
        </div>

        <div class="row">
          <div class="col-md-4">        
              <a href="#" class="pull-right">
                <img title="profile image" class="img-circle img-responsive" src="img/funny-dog-2.gif" width="140" height="140">
              </a>
          </div>
          <div class="col-md-6 pull-left">
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <h2><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></h2>
          </div>
        
        </div>  
        <hr/>
                <div class="row">
          <div class="col-md-8 col-md-offset-4"><h2>REVIEWS</h2></div>
        </div>

        <div class="row">
          <div class="col-md-4">        
              <a href="#" class="pull-right">
                <img title="profile image" class="img-circle img-responsive" src="img/funny-dog-2.gif" width="140" height="140">
              </a>
          </div>
          <div class="col-md-6 pull-left">
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <h2><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></h2>
          </div>
        
        </div>  
        <hr/>
      </div>
    </div>






<!-- <footer class="footer">
THIS IS FOOTER
</footer> -->
</div>
</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>