<div id="template" class="page-container">
  <div class="l-wrapper">
    <div id="nav-buttons" class="center-nav">
      <div id="host-button" class="button"><a href="/new"><h3>Become host</h3></a></div>
      <div class="button"><h3>Sign Up</h3></div>
      <div class="button"><h3>Log In</h3></div>
      <div id="logo-button" class="button"><a href="/"><h3>HotDog</h3></a></div>
    </div>    
    <div class="body-content">
      <h2 class="title">Template title </h2>
    </div>
<!--     <div id="footer">
      <small>inspired by Rowan.</small>
    </div> -->
  </div>
  <div class="r-wrapper">
    <img id="bg" src="/img/tall_dog_4.jpg">
  </div>
</div>